In [4]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart[::-1]:# apart의 인덱스가 reverse이고 row인덱스는 정방향이다
    for col in row:
        print(col,"호")

301 호
302 호
201 호
202 호
101 호
102 호

In [5]:
for row in apart[::-1]:#apart의 인덱스도 역방, row인덱스도 역방
    for col in row[::-1]:
        print(col,"호")

302 호
301 호
202 호
201 호
102 호
101 호

In [6]:
for row in apart:
    for col in row:
        print(col,"호")
        print("-----")

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [24]:
for row in apart:
    print(row[0],"호")
    print(row[1],"호")
    print("-"*5)

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [ ]:
for row in apart:
    for col in row:
        print(col,"호")
    print("-----")    #따란!

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [26]:
for row in apart:
    for col in row:
        print(col,"호")
print("-----")

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [16]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for row in data:
    for col in row:
        print(col * 1.00014) #수수료 0.014% 이므로 0.00014

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [21]:
for row in data:
    print(row[0] * 1.00014)
    print(row[1] * 1.00014)
    print(row[2] * 1.00014)
    print(row[3] * 1.00014)#수수료 0.014% 이므로 0.00014
    print("-----")

2000.28
3050.427
2050.2870000000003
1980.2772
-----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
-----
15452.163
15052.107
15552.177
14902.086000000001
-----

In [ ]:
for row in data:
    for col in row:
        print(col * 1.00014) #수수료 0.014% 이므로 0.00014
    print("-----") #따란

2000.28
3050.427
2050.2870000000003
1980.2772
-----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
-----
15452.163
15052.107
15552.177
14902.086000000001
-----

In [30]:
result = []
for row in data:
    for col in row:
        result.append(col * 1.00014) #수수료 0.014% 이므로 0.00014
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [38]:
result = []

for row in data:
    sub = []
    for col in row:
        
        sub.append(col * 1.00014)
    result.append(sub)#수수료 0.014% 이므로 0.00014
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [49]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
close = []
for row in ohlc:
    if type(row[3])==str: 
        None
    else:
        close.append(row[3])
print(close)

[100, 190, 310]

In [51]:
for row in ohlc[1::]: #인덱스0 빼고
    print(row[3])

100
190
310

In [52]:
for row in ohlc[1::]: #인덱스0 빼고
    if row[3] > 150:
        print(row[3])

190
310

In [53]:
for row in ohlc[1::]:
    if row[0] <= row[3]:
        print(row[3])

100
310

In [54]:
volatility = []
for row in ohlc[1::]: #인덱스0 빼고
    volatility.append(row[1] - row[2])
print(volatility)

[40, 30, 10]

In [55]:
volatility = []
for row in ohlc[1::]: #인덱스0 빼고
    if row[0] < row[3]:
        volatility.append(row[1] - row[2])
    else: None
print(volatility)

[10]

In [56]:
for row in ohlc[1::]:
    if row[3] > row[0]:
        print(row[1] - row[2])

10

In [64]:
income = 0
for row in ohlc[1::]:
    income += (row[0] - row[3])
print(income)

0