In [1]:
price = ['20180728', 100,130,140,150,160,170]

In [5]:
#price[1:7]
price[1:]

[100, 130, 140, 150, 160, 170]

In [6]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
#nums[0:10:2]
nums[::2]

[1, 3, 5, 7, 9]

In [13]:
nums[1::2]

[2, 4, 6, 8, 10]

In [17]:
nums[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [18]:
interest = ['삼성전자', 'LG전자', 'Naver']

In [23]:
print(interest[0],interest[2])

삼성전자 Naver

In [24]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

In [33]:
" ".join(interest)

'삼성전자 LG전자 Naver SK하이닉스 미래에셋대우'

In [34]:
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [35]:
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [38]:
"\n".join(interest)

'삼성전자\nLG전자\nNaver\nSK하이닉스\n미래에셋대우'

In [37]:
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [39]:
string = "삼성전자/LG전자/Naver"

In [45]:
interest = string.split("/")  #list 형태로 나눠주어요
#interest
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [46]:
data = [2, 4, 3, 1, 5, 10, 9]

In [48]:
data.sort()
data

[1, 2, 3, 4, 5, 9, 10]

In [51]:
my_variable = ()
print(type(my_variable))
my_variable

<class 'tuple'>

()

In [53]:
movie_rank = ('닥터스트레인지', '스플릿', '럭키')
print(movie_rank)

('닥터스트레인지', '스플릿', '럭키')

In [60]:
tupl = (1)  #쉼표 없이 하나의 데이터를 입력하면 정수,실수,문자 등으로 인식
print(type(tupl))
tupl = (1.1)
print(type(tupl))
tupl = ('1')
print(type(tupl))
tupl = (1,) #튜플에 하나의 데이터를 넣으면 쉼표를 입력해 데이터를 구분해주어야 한다
print(type(tupl))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'tuple'>

In [63]:
t = (1, 2, 3)
t[0] = 'a'

TypeError: 'tuple' object does not support item assignment

정답! 튜플은  element 원소의 값을 수정할 수 없다!

In [65]:
t = 1, 2, 3, 4

In [67]:
type(t)  #원칙적으로! 튜플은 괄호와 함께 데이터를 정의해야 하지만,
         #사용자편의를 위해 괄호 없이도 동작한다

tuple

In [68]:
t = ('a', 'b', 'c')

In [72]:
t = ('A', 'b', 'c')
t #튜플의 값은 변경할 수 없으므로 t[0] = 'A' 는 동작하지 않아
  # 새로운 튜플을 만들어 t를 업데이트 해야함. 기존 튜플은 자동 삭제

('A', 'b', 'c')

In [79]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
interest = list(interest)
print(type(interest))

<class 'list'>

In [80]:
interest = tuple(interest)
print(type(interest))

<class 'tuple'>

In [83]:
temp = ('apple', 'banana', 'cake')
(a, b, c) = temp
print(a, b, c)
a, b, c = temp
print(a, b, c)
"('apple', 'banana', 'cake'),('apple', 'banana', 'cake'),('apple', 'banana', 'cake')"

apple banana cake
apple banana cake

"('apple', 'banana', 'cake'),('apple', 'banana', 'cake'),('apple', 'banana', 'cake')"

**a, b, c = temp** 이라고 쓰는 순간, 바구니 안에 있는 내용물을 순서대로 꺼내서 
왼쪽의 변수들에 딱 하나씩 할당한다.
a 에는 첫 번째인 apple
b 에는 두 번째인 banana
c 에는 세 번째인 cake 
따라서 print(a,b,c)를 하면 각각의내용물인 apple banana cake이 출력된다

(2,4,6,8, ..., 98)
1부터 99까지의 정수 중 짝수만 저장된 튜플 생성

In [93]:
tupl = tuple(range(2,100,2))
print(tupl)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [98]:
a, b, *c = (0, 1, 2, 3, 4, 5)
print(a)
print(b)
print(c)

0
1
[2, 3, 4, 5]

In [103]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, a, b = scores
*valid_score, _, _ = scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [104]:
_, _, *valid_score = scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [106]:
temp = {}
print(type(temp))

<class 'dict'>

In [107]:
temp = {'메로나':'1000', '폴라포':'1200', '빵빠레':'1800'}
print(temp)

{'메로나': '1000', '폴라포': '1200', '빵빠레': '1800'}

In [110]:
temp['죠스바'] = '1200'
temp['월드콘'] = '1500'
print(temp)

{'메로나': '1000', '폴라포': '1200', '빵빠레': '1800', '죠스바': '1200', '월드콘': '1500'}

In [112]:
print("메로나 가격 : ",temp['메로나'])

메로나 가격 :  1000

In [114]:
temp['메로나'] = '1300'
print(temp)

{'메로나': '1300', '폴라포': '1200', '빵빠레': '1800', '죠스바': '1200', '월드콘': '1500'}

In [118]:
del temp['메로나']
print(temp)

{'폴라포': '1200', '빵빠레': '1800', '죠스바': '1200', '월드콘': '1500'}

In [120]:
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']

#누가바가 없는데 호출해서 에러
#딕셔너리에 없는 키를 사용해서 인덱싱하면 에러가 발생함

KeyError: '누가바'