In [1]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)
"사과\n 귤\n 수박"

사과
귤
수박

'사과\n 귤\n 수박'

In [2]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")
"""들여쓰기된 코드가 자료구조에 저장된 데이터 개수만큼 반복된다"""

#####
#####
#####

'들여쓰기된 코드가 자료구조에 저장된 데이터 개수만큼 반복된다'

In [3]:
for 변수 in ["A", "B", "C"]:
    print(변수)
변수 = "A"
print(변수)
변수 = "B"
print(변수)
변수 = "C"
print(변수)

A
B
C
A
B
C

In [4]:
for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)
변수 = "A"
print("출력:",변수)
변수 = "B"
print("출력:",변수)
변수 = "C"
print("출력:",변수)

출력: A
출력: B
출력: C
출력: A
출력: B
출력: C

In [5]:
for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)

변수 = "A"
a = 변수.lower()
print("변환:",a)
변수 = "B"
b = 변수.lower()
print("변환:",b)
변수 = "C"
c = 변수.lower()
print("변환:",c)

변환: a
변환: b
변환: c
변환: a
변환: b
변환: c

In [6]:
변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)

for 변수 in [10,20,30]:
    print(변수)

10
20
30
10
20
30

In [7]:
print(10)
print(20)
print(30)
for 변수 in [10,20,30]:
    print(변수)

10
20
30
10
20
30

In [8]:
print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")
for 변수 in [10,20,30]:
    print(변수)
    print("------")

10
-------
20
-------
30
-------
10
------
20
------
30
------

In [9]:
print("++++")
print(10)
print(20)
print(30)

print("++++")
for 변수 in [10,20,30]:
    print(변수)

++++
10
20
30
++++
10
20
30

In [10]:
print("-------")
print("-------")
print("-------")
print("-------")

for 변수 in [1,2,3,4]:
    print("-------")

-------
-------
-------
-------
-------
-------
-------
-------

In [11]:
리스트 = [100, 200, 300]

In [12]:
for tax in 리스트:
    print(tax + 10)

110
210
310

In [13]:
리스트 = ["김밥", "라면", "튀김"]
for menu in 리스트:
    print("오늘의 메뉴: ",menu)

오늘의 메뉴:  김밥
오늘의 메뉴:  라면
오늘의 메뉴:  튀김

In [14]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for 종목 in 리스트:
    길이 = len(종목)
    print(길이)

6
4
4

In [16]:
리스트 = ['dog', 'cat', 'parrot']
for name in 리스트:
    print(name, len(name))

dog 3
cat 3
parrot 6

In [23]:
이름 = "dog"
print(이름[0])

for name in 리스트:
    print(name[0])

d
d
c
p

In [25]:
리스트 = [1, 2, 3]
for by in 리스트:
    print("3 x",by)

3 x 1
3 x 2
3 x 3

In [27]:
for by in 리스트:
    print("3 x",by,"=",by*3)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [28]:
for by in 리스트:
    print("3 x {} = {}".format(by,3*by))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9