In [3]:
print("Hello world")

Hello world

In [4]:
print("Mary's cosmetics")

Mary's cosmetics

In [5]:
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [6]:
print("C:\windows")

C:\windows

In [8]:
print("안녕하세요.\n만나서\t\t반갑습니다.")
#\n:줄바꿈, \t:탭탭

안녕하세요.
만나서		반갑습니다.

In [10]:
print("오늘은","월요일")
#여러 값을 출력하려면 print 함수에서 쉼표로 구분. 오늘으 다음에 공백이 하나 있고 월요이링 출력됨

오늘은 월요일

In [11]:
print("naver;kakao;sk;samsung")

naver;kakao;sk;samsung

In [12]:
print("naver/kakao/sk/samsung")

naver/kakao/sk/samsung

In [15]:
print("first",end = " "); print("second")

first second

In [16]:
print(5/3)

1.6666666666666667

In [17]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [20]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [31]:
s = "hello"
t = "python"

print(s,end = "! ");print(t)
# print(s+"!",t)

hello! python

In [32]:
2 + 2 * 3

8

In [33]:
a = 128
print(type(a))

<class 'int'>

In [38]:
num_str = "720"
print(type(num_str))
num_str = int(num_str)
print(type(num_str))

<class 'str'>
<class 'int'>

In [39]:
num = 100
num = str(num)
print(type(num))

<class 'str'>

In [40]:
num_float = "15.79"
num_float = float(num_float)
print(type(num_float))

<class 'float'>

In [41]:
year = "2020"
year = int(year)
print(year + 5, year + 4, year + 3)

2025 2024 2023

In [42]:
air = 48584
mon = 36
total = air * mon
print(total)

1749024

문자열

In [45]:
letters = 'python'
print(letters[0],letters[2])

p t

In [51]:
license_plate = "24가 2210"
print(license_plate[-4],license_plate[-3],license_plate[-2],license_plate[-1])
print(license_plate[-4:])
#슬라이싱에서 시작 인덱스를 생략하면 0으로 간주하고, 끝 인덱스를 생략하면 문자열의 끝을 의미함

2 2 1 0
2210

In [54]:
string = "홀짝홀짝홀짝"
print(string[0::2])
print(string[::2])
#슬라이싱에서 시작 인덱스를 생략하면 0으로 간주하고, 끝 인덱스를 생략하면 문자열의 끝을 의미함

홀홀홀
홀홀홀

In [68]:
string = "PYTHON"
print(string[::-1]) 
#시작, 끝 인덱스를 생략해서 끝과 끝으로 범위를 주고, -1로 역순시퀀스

NOHTYP

In [72]:
phone_number = "010-1111-2222"
phone_number_0 = phone_number.replace("-", " ")  
print(phone_number_0)
#.replace("치환될값","치환할값"),
# 문자열은 수정할 수 없는 자료형이므로 기존 문자열은 그대로 두고
# 치환된 새로운 문자열을 리턴.

010 1111 2222